@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


.App {
    text-align: center;
  }
  
  header nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
  }
  
  main {
    margin: 20px;
  }
  
  .image-placeholder {
    width: 200px;
    height: 200px;
    background-color: #ccc;
    margin: 0 auto;
  }
  
  ul {
    list-style-type: none;
  }
  
  .socials img {
    width: 30px;
    margin: 0 5px;
  }
  